@font-face {
    font-family: "main";
    src: url("../fonts/main-med.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "main";
    src: url("../fonts/main-demi.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "main";
    src: url("../fonts/main-bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "main";
    src: url("../fonts/main-heavey.ttf") format("truetype");
    font-weight: bolder;
}

:root {
    --dark-pink: #009B9B;
    --pink: #00FFFF;
    --light-pink: #00CCCC;
    --black: #32373C;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: var(--light-pink); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--pink); 
} 

*{
    transition: all ease-in-out 0.3s ;
}
body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: 'main', cursive;
    background-attachment: fixed;
    color: var(--dark-pink);
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 3rem;
}
i {
    color: white;
}
/* side navigation */
.navbar {
    background-color: #ffffff;
    color: white;
}

.side {
    background: linear-gradient(90deg, #6721216e, transparent);
    min-height: 100vh;
    position: relative;
}
.side-cont {
    position: sticky;
    top: 10px;
    height: 97vh;
}
.side .side-cont .nav-link {
    color: white;
    margin-bottom: 10px;
    font-size: 1em;
}
.nav-link.active {
    background-color: var(--dark-pink) !important;
}
.nav-item.active .nav-link {
    color: var(--pink);
}
.social:hover i {
  color: var(--pink);
}
.logo-img {
  width: 100%;
}
/* Dropdown Button */
.dropbtn {
    background-color: #009B9B80;
    border: 2px solid white;
    padding: 15px;
    border-radius: 8px;
    color: #ffffff;
    margin: 10px;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
  }
  .dropbtn span {
      margin-left: 30px;
  }
  .dropbtn img {
    margin-left: 10px;
    width: 50px;
  }
  .dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-pink);
    left: 10px;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: var(--dark-pink);}
  
  .dropdown:hover .dropdown-content {display: block;}
  

/* search */
.search {
  margin: 50px 0;
}
.search .btn {
  background-color: var(--pink);
  outline: 0;
  border: 1px solid #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 50px;
}
.search .btn:hover {
  background-color: var(--dark-pink);
}
.search .btn i {
  color: #fff;
}
.search .btn:hover {
  color: #fff
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: var(--pink);
  outline: 0px
}

.form-control {
  border: 1px solid #fff;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff80;
}

/* cards */
.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    filter: drop-shadow(0px 1px 3px #99999990);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}
.card .icon i {
    color: var(--pink);
    font-size: 5rem;
    text-align: center;
}
.card .badge-danger {
    background-color: var(--light-pink);
    cursor: pointer;
    transition: all 0.5s;
}
.card .badge-danger:hover {
    background-color: var(--pink);
}

/* links cards */
.links-card {
    height: 150px;
    background-color: #2e2e2e60;
    color: white;
    position: relative;
    min-width: 200px;
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
}
.links-card:hover {
    background-color: #2e2e2e83;
}
.links-card .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: var(--light-pink);
    z-index: -1;
}
.links-card a {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: var(--pink);
    border: none;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

/* pages -> tags */
.tags .badge {
    background-color: white;
    color: var(--dark-pink);
    cursor: pointer;
    filter: drop-shadow(0px 1px 3px #99999990);
}
.tags .badge:hover, .tags .badge.active {
    background-color: var(--dark-pink);
    color: white;
}

/* pages -> filters */
.filters {
    background-color: white;
    border-radius: 8px;
}
.sec-title {
    color: white;
}

/* video player */
#video_player {
    display: flex;
}
#video_player .video {
    width: 80%;
    height: 500px;
    background: rgba(0, 0, 0, 0.493);
}
#video_player .video video {
    width: 100%;
    height: 500px;
}
#video_player .thumbs {
    width: 20%;
    height: 500px;
    overflow-y: auto;
}
#video_player .thumbs .thumb {
   position: relative;
}
#video_player .thumbs .thumb span {
    position: absolute;
    bottom: 2px;
    left: 1px;
    color: white;
    background: linear-gradient(90deg, #ff0000, transparent);;
}
#video_player .thumbs img {
    width: 100%;
    margin: 2px 0;
}
@media (max-width: 767px) {
    #video_player {
        display: block;
    }
    #video_player .video {
        width: 100%;
    }
    #video_player .thumbs {
        display: flex;
        width: 100%;
        overflow-x: auto;
        height: auto;
    }
    #video_player .thumbs img {
        width: 150px;
        height: 100px;
        margin: 5px;
    }
    #video_player .thumbs .thumb span {
        bottom: 2px;
        left: 5px;
    }
}

 /*login  */
 .user_card {
    height: auto;
    max-width: 500px;
    min-width: 20%;
    margin: auto 20px;
    background: white;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: var(--pink) !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
  background: var(--pink) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_fullName,
.input_mail,
.input_pass_confirm,
.input_pass {
  border: 1px solid var(--pink);
  border-radius: 8px;
  box-shadow: none !important;
  outline: 0px !important;
  padding: 25px 10px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--pink) !important;
}

/* games */
.games a {
    text-decoration: none;
}
.card-img-top {
    height: 200px !important;
}
.games .card-text {
    color: #32373C;
}
.game {
    position: relative;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin: auto;
    background: var(--dark-pink);
    background: -webkit-linear-gradient(to right, var(--light-pink), var(--pink));
    background: linear-gradient(to right, var(--light-pink), var(--pink));
    border-radius: 8px;
    filter: drop-shadow(0px 2px 3px grey);
    min-height: 700px;
    overflow: hidden;
  }
  .game.game-full {
    width: 100%;
    height: 100vh;
  }
  .game h1 {
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: var(--dark-pink);
    color: #fff;
    filter: drop-shadow(0px 2px 3px grey);
  }
  .game .question {
    background-color: #fff;
    border-radius: 8px;
    width: 150px;
    height: 100px;
    padding: 10px;
    margin: 10px auto;
    filter: drop-shadow(0px 2px 3px grey);
  }
  .game .question img {
    height: 100%;
  }
  .game .answers {
    margin-top: 50px;
    text-align: center;
    display: inline-block;
  }
  .game .answers label {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    color: var(--dark-pink);
    font-weight: bold;
    margin: 20px;
    filter: drop-shadow(0px 2px 3px grey);
  }
  .answer-label {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
  }
    
  /* Hide the browser's default checkbox */
  .answer-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    
    /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: -20px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
    
    /* On mouse-over, add a grey background color */
    .game .answers label:hover, .answer-label:hover input ~ .checkmark {
      background-color: var(--dark-pink);
      color: #fff;
    }
    
    /* When the checkbox is checked, add a blue background */
    .answer-label input:checked ~ .checkmark {
      background-color: #21f379;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .answer-label input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .answer-label .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
  .game .buttons {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    min-width: 50%;
    display: flex;
    justify-content: center;
  }
  .game button {
    font-size: 22px;
    font-weight: bold;
    background-color: #FFF;
    color: var(--dark-pink);
    border: 0px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    filter: drop-shadow(0px 2px 3px grey);
    outline: none;
    width: 50%;
    margin: 5px;
  }
  .game button:hover {
    background-color: var(--dark-pink);
    color: #fff;
  }
  
  .game .slide {
    margin-top: 50px;
    width: 100%;
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .game .active-slide {
    display: block;
  }
  .game .quiz-container {
    position: relative;
    margin: 40px;
  }
  .game .results {
    position: absolute;
    background: var(--dark-pink);
    padding: 10px;
    top: 60px;
    right: 50px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    filter: drop-shadow(0px 2px 3px grey);
  }
  .game .balon {
    position: absolute;
    right: 50px;
    width: 250px;
    filter: drop-shadow(0px 2px 3px rgb(63, 63, 63));
    transition: all 1s ease-in-out;
    z-index: -1;
  }
  .game .balon.balon-full {
    width: 350px;
  }

  /* media */
  @media (max-width: 767px) {
    .game .balon {
      width: 200px;
      right: 0px;
    }
    .game .buttons {
      position: relative;
      display: block;
    }
  }